    <div class="item">
        <div>Avatar URL:</div>
        <div><input type="url" name="avatar_url" placeholder="https://" value="{{member.avatar_url}}" required></div>
    </div>

    <div class="item">
        <div>Nome:</div>
        <div><input type="text" name="name" placeholder="Seu nome aqui" value="{{instructor.name}}"></div>
    </div>
    
    <div class="item">
        <div>Sexo:</div>
        <div>
            <span><input type="radio" name="gender" value="M" {% if instructor.gender == "M" %}
                checked
            {% endif %}  >Masculino</span>
            <span><input type="radio" name="gender" value="F" {% if instructor.gender == "F" %}
                checked
            {% endif %}>Feminino</span>
        </div>
    </div>

    <div class="item">
        <div>Atividades de interesse:</div>
        <div><input class="activities-member" type="text" name="services" placeholder="Separe as atividades por vírgula" value="{{instructor.services}}" ></div>
    </div>



    



