{% extends "layout.njk" %}

{% block head %}
    <title>Editando seu cadastro</title>
{% endblock head %}


{% block content%}

<div class="card">
    <section class="avatar" style="background-image: url({{instructor.avatar_url}});">
    </section>

    <form class="details" method="POST" action="/instructors">
    <h3>Editando cadastro</h3>
{% include 'instructors/fields.njk'%}

        <div class="item">
            <div><button type="submit">Salvar</button></div>
        </div>

    </form>
</div>


{% endblock content %}
